
.sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    background-image: url("side-nav-bg.png");
    background-repeat: no-repeat;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
}

.sidenav header {
    padding: 25px 6px 6px 32px;
    font-size: 12px;
    color: #666;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

.sidenav-collapsed {
    width: 50px !important;
    padding-top: 13px !important;
}

.sidenav-a-span-collapsed {
    display: none !important;
}

.sidenav-a-collapsed {
    font-size: 23px !important;
    padding-left:12px !important;
}


.main-collapsed {
    margin-left: 50px !important;
}


.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: right;
    display: block;
    color: #818181;
    text-align: center;
    padding: 14px 16px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 14px;
    margin-left:auto;
    margin-right:0;
}

.navbar span {
    float: right;
    display: block;
    color: #9595a7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

.align-left
{
    margin-left:0;
    margin-right:auto;
}

.navbar a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

.navbar #toggle {
    padding-left:3px;
    font-size:23px;
    cursor: pointer;
}


.main {
    margin-left: 210px;
}

.main_ {
    margin-left: 20px; /* Same as the width of the sidenav + 20 */
    margin-top: 10px;
    margin-bottom: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

i.fas, i.fab, i.fa {
    padding-right: 5px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
/ / IE8 filter: alpha(opacity = 50);
/ / IE 5 - 7 opacity: 0.5;
}

.main_bottom {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.main_bottom span {
    float: left;
    display: inline;
    text-align: left;
    color: #888;
    padding: 0 0 0 0;
    padding-left: 30px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 10px;
}

.main_bottom a {
    color: #666;
    display: inline;
    padding: 0 0 0 0;
    text-align: left;
    font-size: 10px;
    text-decoration: underline;
}

.error {
    color: red;
}