
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  background-image: url("side-nav-bg.png");
  background-repeat: no-repeat;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: #818181;
  text-align: center;
  padding: 14px 16px;
  padding-right: 250px;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover {
 color: #f1f1f1;
}


.main {
  margin-top: 53px;
  margin-left: 200px;
}

.main_ {
  margin-left: 20px; /* Same as the width of the sidenav + 20 */

}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

i.fas,
  i.fab {
    padding-right: 5px;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; // IE8
    filter: alpha(opacity=50); // IE 5-7
    opacity: 0.5;
  }