<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script src="{{ url_for('static', filename='test.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
    <script src="{{ url_for('static', filename='fonts.js') }}"></script>
</head>
<body>

<div class="sidenav">
    <a href="my-instances"><i class="fas fa-server fa-sm"></i> my instances</a>
    <a href="how-to"><i class="fas fa-question-circle"></i> how to</a>
    <a href="monitoring"><i class="fas fa-wave-square"></i>monitoring</a>
</div>

<div class="main">

    <div class="navbar">
      <a href="login"> <i class="fas fa-user fa-sm"></i> login</a>
      <a href="login"> <i class="fas fa-power-off fa-sm"></i> logout</a>
    </div>

    <div class="main_">
        <h1>{{ title }}</h1>
        <p>
            {{ content }}
        </p>
    </div>
</div>


</body>
</html>