{% extends 'master.html' %}
{% block header %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block head_script %}
{{ super() }}

<!--https://editor.datatables.net/examples/simple/inTableControls.html-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/datatables.min.css') }}"/>
<script type="text/javascript" src="{{ url_for('static', filename='datatables/datatables.min.js') }}"></script>

<script>

    function get_action(data) {
        action = ""
        if (data.status == "running") action = "<a class='monitoring-item' data-action='stop' data-id='" + data.instance_id + "' href='#'><i class='fas fa-stop'></i>stop</a>"
        if (data.status == "stopped") action = "<a class='monitoring-item' data-action='start' data-id='" + data.instance_id + "' href='#'><i class='fas fa-play'></i>stop</a>"
        if (data.status == "terminating") action = ""
        if (data.status == "starting") action = ""
        if (data.status == "stopping") action = ""
        return action
    }

    function load_data() {

        $('#example').DataTable({
            destroy: true,
            "ajax": '{{ url_for("api_aws.list_ec2_tags",tags="") }}/owner:za577',
            "fnInitComplete": function (oSettings, json) {

                $("a.monitoring-item").click(function () {
                    window.call_api('{{ url_for("api_aws.action_ec2",action="") }}' + $(this).data("action"), {instance_id: $(this).data("id")}, 'Request to ' + $(this).data("action") + ' the instance ' + $(this).data("id") + ' has been successfully send.')
                });
            },
            columns: [
                {data: "name"},
                {data: "instance_id"},
                {data: "ami_id"},
                {data: "owner"},
                {data: "cpu"},
                {data: "status"},
                {
                    data: null, render: function (data, type, row) {
                        return get_action(data);
                    }
                }
            ]
        });
    }

    $(document).ready(function () {
        load_data()
        window.auto_hide_flesh()
    });

</script>
{% endblock %}

{% block content %}
<h2>list of all instances running at Kratos framework</h2>

<div style="width:80%" class="small">
    <table id="example" class="table .table-hover" style="width:100%">
        <thead>
        <tr>
            <th>name</th>
            <th>instance id</th>
            <th>ami id</th>
            <th>owner</th>
            <th>cpu info</th>
            <th>status</th>
            <th>action</th>
        </tr>
        </thead>
    </table>
    <a href="#" onclick="load_data();"><i class="fas fa-sync"></i>refresh data</a>
</div>

{% endblock %}