{% extends 'master.html' %}
{% block title %}{{ title }}{% endblock %}

{% block head_script %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
<script>

$(document).ready(function() {

// chart colors
var colors = ['#007bff','#28a745','#333333','#c3e6cb','#dc3545','#6c757d'];

/* 3 donut charts */
var donutOptions = {
  cutoutPercentage: 65,
  legend: {position:'bottom', padding:15, labels: {pointStyle:'circle', usePointStyle:true}}
};

// donut 1
var chDonutData1 = {
    labels: ['compilation', 'smoketest', 'development'],
    datasets: [
      {
        backgroundColor: colors.slice(0,3),
        borderWidth: 0,
        data: [4, 8, 2]
      }
    ]
};

var chDonut1 = document.getElementById("chDonut1");
if (chDonut1) {
  new Chart(chDonut1, {
      type: 'pie',
      data: chDonutData1,
      options: donutOptions
  });
}

// donut 2
var chDonutData2 = {
    labels: ['rint', 'za577', 'ke988'],
    datasets: [
      {
        backgroundColor: colors.slice(0,3),
        borderWidth: 0,
        data: [40, 45, 30]
      }
    ]
};
var chDonut2 = document.getElementById("chDonut2");
if (chDonut2) {
  new Chart(chDonut2, {
      type: 'pie',
      data: chDonutData2,
      options: donutOptions
  });
}

// donut 3
var chDonutData3 = {
    labels: ['m4.xlarge', 'm2.xlarge', 'm2.2xlarge','m2.16xlarge'],
    datasets: [
      {
        backgroundColor: colors.slice(0,3),
        borderWidth: 0,
        data: [21, 45, 55, 33]
      }
    ]
};
var chDonut3 = document.getElementById("chDonut3");
if (chDonut3) {
  new Chart(chDonut3, {
      type: 'pie',
      data: chDonutData3,
      options: donutOptions
  });
}

});

</script>

{% endblock %}

{% block content %}
<!-- https://www.codeply.com/go/3l6UhaQEhq -->
<div class="col-md-6">
    <div class="row py-2">
        <div class="col-md-4 py-1">
            <div>
                <h3>Purpose</h3>
                <div class="card-body">
                    <canvas id="chDonut1"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-1">
            <div >
                <h3>Users</h3>
                <div class="card-body">
                    <canvas id="chDonut2"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-1">
            <div >
                <h3>Instance types</h3>
                <div class="card-body">
                    <canvas id="chDonut3"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<h2>About</h2>
This is a simple flask MVC demo hosted on Heroku using basic templates and API end point for Slack bot. Third party libraries: <b>jQuery</b>, <b>Bootstrap4</b>, <b>Chart</b>, <b>Popper</b>
<br/>
<br/>
<h2>Slack bot</h2>
How to use:<br/>
- Join workspace https://jardalhotak.slack.com<br/>
- Type /instances my or /instances all to see test messages sent by the bot.<br/>
<br/>Enjoy :)

{% endblock %}